@import url('variables.css');
@import url('nav.css');
@import url('panel.css');
@import url('projects.css');
@import url('toggle.css');
@import url('footer.css');
@import url('header.css');



/* Global tweaks */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Roboto Mono', monospace;
  padding: 1rem;
}

a {
  color: var(--accent);
  text-decoration: none;
}
