
<h1 class="projects-tittle">Projects</h1>

<div class="panel-row">
  <div class="left-column">
    <div class="panel-1-wrapper">
      <div class="panel-1">Panel 1 Content</div>
    </div>
  </div>

  <div class="right-column">
    <div class="panel-2-wrapper">
      <div class="panel-2">Panel 2 Content</div>
    </div>
    <div class="panel-3-wrapper">
      <div class="panel-3">Panel 3 Content</div>
    </div>
  </div>
</div>

<div class="panel-4-wrapper">
  <div class="panel-4">Panel 4 Content</div>
</div>
